* {
    box-sizing: border-box;
  }
  

.header {
    background-color: black;
    padding: 20px 20px;
    background-color: #F55A5A;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
    margin-bottom: 25px;
}

h3 {
  margin: 0;
  margin-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500; 
  color: #FFFFFF;
}

.logo {
  width: 24px;
  height: 24px;
}

.Container {
  padding: 15px 45px;
  display: flex;
}

.Cardimage {
  width: 125px;
  min-height: 168px;
  /* max-width: max-content; */
  max-height: max-content;
  border-radius: 5px;
}

.sections {
  padding-left: 20px;
  padding-block: 10px;
  /* background-color: lightblue; */
}

.location {
  font-family: 'Inter';
  font-style: normal;
  letter-spacing: 0.17em;
  margin-left: 5px;
  font-weight: 500;
  font-size: 13px;
}

.title {
  margin: 0;
  margin-top: 5px;
}

.glink {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11.5px;
  line-height: 13px;
  letter-spacing: 1px;
/* identical to box height */
  text-decoration-line: underline;
  margin-left: 10px;
  color: #918E9B;
}

